<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Properties>
    <Property name="filename">trace.log</Property>
    <Property name="msgcolor">FATAL=Red Bright, ERROR=Red, WARN=Yellow Bold, INFO=Green, DEBUG=Cyan, TRACE=blue, VERBOSE=BG_Magenta Yellow, NOTICE=BG_Blue Yellow, PROGRESS=BG_Yellow Blue, ALGORITHM=BG_Blue White, END=BG_Green White, OUT=BG_Green Blue, ERR=BG_Green Red, NORMAL=Normal Default</Property>
    <!--\e == \\(e|u001b|033|x1b)-->
    <Property name="escape">\e\[[0-9;:]*m</Property>
  </Properties>
  
  <CustomLevels>
    <CustomLevel name="NORMAL" intLevel="410" />
    <CustomLevel name="VERBOSE" intLevel="420" />
    <CustomLevel name="ALGORITHM" intLevel="440" />
    <CustomLevel name="END" intLevel="440" />
    <CustomLevel name="NOTICE" intLevel="460" />
    <CustomLevel name="PROGRESS" intLevel="480" />
    <CustomLevel name="OUT" intLevel="360" />
    <CustomLevel name="ERR" intLevel="330" />
  </CustomLevels>
  
  <!--%t:%T:%C{1}:%M:%c{1}:%L-->
  
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <!--<PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS} %highlight{%level}{${msgcolor}} %logger{10}]: %highlight{%message{ansi}}{${msgcolor}}%style{%n}{Default Normal}%throwable" />-->
      <PatternLayout pattern="[%highlight{%level}{${msgcolor}}]: %highlight{%message{ansi}}{${msgcolor}}%style{%n}{Default Normal}%throwable" />
    </Console>
    <RollingFile name="File" fileName="${filename}" filePattern="${filename}.%d{yyyy-MM-dd}">
      <PatternLayout disableAnsi="true" noConsoleNoAnsi="true" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-10p %t:%T:%C{1}:%M:%c{1}:%L - %replace{%message}{(\@\|[\w,]+\s)|(\|\@)|(${escape})}{}%n" />
      <!--<PatternLayout disableAnsi="true" noConsoleNoAnsi="true" pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %-10p %logger{10} - %replace{%message}{(\@\|[\w,]+\s)|(\|\@)|(${escape})}{}%n" />-->
      <Policies>
        <SizeBasedTriggeringPolicy size="20MB" />
      </Policies>
    </RollingFile>
  </Appenders>
  
  <Loggers>
    <Root level="ALL">
      <AppenderRef ref="Console" />
      <AppenderRef ref="File" />
    </Root>
  </Loggers>
</Configuration>